In [172]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [173]:
df = pd.read_csv('dataset/Pokemon.csv')
df.shape
arr=[]
for i in range(df.shape[0]):
    val = str(df.loc[i]['Type 1'])+' '+str(df.loc[i]['Generation'])+' '+str(df.loc[i]['Legendary'])
    arr.append(val)

df['feature'] = np.array(arr)
df    # print(i['Type 1'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,feature
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass 1 False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass 1 False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass 1 False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass 1 False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire 1 False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Rock 6 True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Rock 6 True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Psychic 6 True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Psychic 6 True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Fire 6 True

In [199]:
c_vect = CountVectorizer(tokenizer= lambda x : x.split(' '))
matrix = c_vect.fit_transform(df['feature'])
score = cosine_similarity(matrix)

In [200]:
# list(enumerate(score))

In [201]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,feature
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass 1 False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass 1 False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass 1 False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass 1 False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire 1 False

In [203]:
pokemon_name = "charmander"
pokemon_name =pokemon_name.capitalize()
pokemon_index = df[df['Name'] == pokemon_name].index[0]
recom = list(enumerate(score[pokemon_index]))
pokemon_index_list = sorted(recom, key=lambda x:x[1], reverse=True)[0:6]
idx = [i[0] for i in pokemon_index_list]
df_recomm = df.iloc[idx][['Name', 'Type 1', 'Generation', 'Legendary']]
df_recomm
# df_recomm.iloc[0]['Name']

                         Name Type 1  Generation  Legendary
4                  Charmander   Fire           1      False
5                  Charmeleon   Fire           1      False
6                   Charizard   Fire           1      False
7   CharizardMega Charizard X   Fire           1      False
8   CharizardMega Charizard Y   Fire           1      False
42                     Vulpix   Fire           1      False

In [208]:
url='https://pokeapi.co/api/v2/pokemon'
api=requests.get(url+'/'+'charizard')
data_pokemon = api.json()

In [206]:
lst=[]
url='https://pokeapi.co/api/v2/pokemon'
for i in range(df_recomm.shape[0]):

    dct={}
    dct['Name'] = df_recomm.iloc[i]['Name']
    print(i)

    gambar = data_pokemon['sprites']['front_default']
    dct['Type 1'] = df_recomm.iloc[i]['Type 1']
    dct['Generation'] = df_recomm.iloc[i]['Generation']
    dct['Legendary'] = df_recomm.iloc[i]['Legendary'].apply(lambda x: "not legendary" if x else "legendary")
    # print(df_recomm.iloc[i]['Name'])
    lst.append(dct)
lst

0

JSONDecodeError: Expecting value: line 1 column 1 (char 0)